body{
    margin: 0px;
    background-image: url(foto.jpg);
}
.Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-size: 16px;
    margin: 5px;
    margin-left: 47px;
    color: white;
}
.Lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 151px;
    margin-right: 30px;
    color: white;
}
.Texto{
    margin-left: 1300px;
    font-size: 32px;
    margin-right: 135px;
    color: white;
    margin-top: 123px;
    text-align: right;
}
.paragrafo{
    margin-left: 1307px;
    margin-top: -23px;
    color: white;
    margin-right: 132px;
    text-align: right;
}
.boto1{
    width: 155px;
    height: 39px;
    color: rgb(90, 52, 3);
    background-image: linear-gradient(to bottom right, rgb(150, 98, 3), orange);
    border-color: transparent;
}
.botao{

    display: flex;
    justify-content: end;
    padding-right: 237px;
}
.boto2{
    width: 155px;
    height: 39px;
    color: rgb(90, 52, 2);
    background-color: transparent;
    border-color: orange;
}

